<div>
    <RadzenProfileMenu>
        <ChildContent>
            <RadzenProfileMenuItem Text="Login" Path="login" Icon="account_circle"></RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Mapa" Path="" Icon="explore"></RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Objetivos" Path="objetivos" Icon="check_circle"></RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Leitor Qr Code" Path="leitorQrCode" Icon="camera_enhance"></RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Certificado" Path="certificado" Icon="attach_file"></RadzenProfileMenuItem>
        </ChildContent>
    </RadzenProfileMenu>
</div>