.posicao {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.parede {
    background-color: #ffde0a;
    border: groove;
}

.escada {
    background-image: url(/images/escada3.png);
    background-size: contain;
    width: 20px;
    height: 20px;
}

.entrada {
    width: 20px;
    height: 20px;
    background-image: url(/images/porta.png);
    background-size: contain;
    z-index: 4;
}

.rota {
    stroke: blue;
    stroke-width: 4;
    fill: none;
    left: 0;
    z-index: 3;
}

.pontoAtualUsuario {
    position: absolute;
    transition: all 0.3s ease-out;
    width: 20px;
    height: 20px;
    background-image: url(/images/loc_red.png);
    background-size: contain;
    z-index: 5;
}

.mapa-container {
    position: absolute;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.balao {
    background: #7e57c2;
    line-height: 0.1em;
    border-radius: 15px;
    width: auto;
    min-width: 75px;
    color: #fff;
    padding: 12px;
    position: absolute;
    text-align: center;
    font-size: 15px;
}

    .balao:after {
        position: absolute;
        content: "";
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid #7e57c2;
        top: 25px;
        left: 43px;
    }
