@page "/leitorQrCode"

@using BlazorBarcodeScanner.ZXing.JS

<div class="header">
    <BarcodeReader Title="Leitor QrCode"
        StartCameraAutomatically="true"
        ShowStart="false"
        ShowReset="false"
        ShowResult="false"
        ShowToggleTorch="false"
        ShowVideoDeviceList="false"
        VideoWidth="300"
        VideoHeight="200"
        OnBarcodeReceived="LocalReceivedBarcodeText" />
    <RadzenLabel Text="@LocalBarcodeText" style="color: black;" class="align-text-center" />
</div>

@code {
    private string LocalBarcodeText;

    private void LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        this.LocalBarcodeText = args.BarcodeText;
        StateHasChanged();
    }
}
