<h3> Você chegou ao seu destino! </h3>

<style>
    .modal-css {
        margin-bottom: 2% !important;
        max-width: 96vw !important;
        height: auto !important;
        margin-left: 2vw !important;
        animation: slideUp 0.5s ease-out !important;
    }

    @@keyframes slideUp {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }
</style>
